* {
  margin: 0;
}

.container {
  width: 1320px;
  height: 226px;
}

form {
  padding: 15px;
}

.driver {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.sex{
  margin-top: 25px;
  button{
    height: 40px;
    width: 90px;
  }
  .active{
    background: deepskyblue;
  }
}

.formControl {
  width: 300px;
  height: 65px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;

  input[type="text"],
  input[type="date"], {
    margin-top: 5px;
    height: 40px;
    border-radius: 3px;
    padding: 5px;
  }
}

.alert {
  background: burlywood;
  width: 100%;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

.custom-invalid {
  border: solid red 2px !important;
}

input {
  background-color: #f3f6f9;
  border: none;
  outline: none;
}

#oldDriverLicence {
  margin-top: 40px;
}

.driverLicenceLableBox {
  display: flex;
  justify-content: space-between;
}

.coefficient {
  margin-top: 25px;
  display: flex;
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  background-color: #f3f6f9;

  p {
    margin: auto;
    font-weight: bold;
  }
}

p {
  span {
    color: #38af43;
  }
}
