<ng-container [formGroup]="form"
              class="container" >
  <fieldset (change)="httpDriverPost()">
    <label for="isInsured">
      <input formControlName="isInsured"
             id="isInsured"
             type="checkbox" />
      является страхователем
    </label>
    <div class="driver">
      <div class="formControl">
        <label for="lastName">Фамилия:</label>
        <input formControlName="lastName"
               id="lastName"
               type="text" />
      </div>
      <div class="formControl">
        <label for="firstName">Имя:</label>
        <input formControlName="firstName"
               id="firstName"
               type="text" />
      </div>
      <div class="formControl">
        <label for="middleName">Отчество (при наличии):</label>
        <input appSelectSex (childEvent)="validateSex($event)"
               formControlName="middleName"
               id="middleName"
               type="text" />
      </div>
      <div class="formControl">
        <label for="birthday">Дата рождения:</label>
        <input [ngClass]="{ 'custom-invalid': form.errors?.dates && form.controls['startExpDate'].touched &&
               form.controls['birthday'].touched &&form.controls['startExpDate'].dirty
               }"
               formControlName="birthday"
               id="birthday"
               type="date" />
      </div>
      <div class="formControl">
        <div class="driverLicenceLableBox">
          <label for="driverLicence">В/У:</label>
          <label for="foreigner">
            <input formControlName="foreigner"
                   id="foreigner"
                   type="checkbox" />
            <span> Иностранное ВУ</span>
          </label>
        </div>
        <input formControlName="driverLicence"
               id="driverLicence"
               type="text" />
      </div>
      <div class="formControl">
        <label for="startExpDate">Дата начала стажа</label>
        <input [ngClass]="{ 'custom-invalid': form.errors?.dates && form.controls['startExpDate'].touched &&
               form.controls['birthday'].touched && form.controls['startExpDate'].dirty
               }"
               formControlName="startExpDate"
               id="startExpDate"
               type="date" />
      </div>
      <div class="formControl">
        <label for="oldDriverLicence">
          <input formControlName="oldDriverLicence"
                 id="oldDriverLicence"
                 type="checkbox" />
          Добавить предыдущее ВУ
        </label>
      </div>
      <div class="formControl">
        <div class="coefficient">
          <p>КБМ: <span *ngIf="driverFromHttp">{{driverFromHttp.kbm_value}}</span></p>
        </div>
      </div>
      <div class="sex">
        <button [ngClass]="{active: form.controls.sex.value === 'male'}" (click)="changeSex()">М</button>
        <button [ngClass]="{active: form.controls.sex.value === 'female'}" (click)="changeSex()">Ж</button>
      </div>
    </div>
  </fieldset>
  <div *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched"
       class="alert alert-danger">
    Не указана Фамилия
  </div>
  <div *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched "
       class="alert alert-danger">
    Не указано Имя
  </div>
  <div *ngIf="form.controls['birthday'].invalid && form.controls['birthday'].touched "
       class="alert alert-danger">
    Не указана Дата рождения
  </div>
  <div
    *ngIf="form.controls['driverLicence'].invalid && form.controls['driverLicence'].touched"
    class="alert alert-danger">
    Не указано В/У
  </div>
  <div *ngIf=" form.controls['startExpDate'].invalid && form.controls['startExpDate'].touched"
       class="alert alert-danger">
    Не указана Дата начала стажа
  </div>
  <div *ngIf=" form.errors?.dates && form.controls['startExpDate'].touched && form.controls['birthday'].touched &&
       form.controls['startExpDate'].dirty"
       class="alert alert-danger">
    Проверьте дату рождения и дату начала стажа.
  </div>
</ng-container>
