<div class="container">


  <dir class="driversCount">
    <button (click)="changeDriversCount(1)">1</button>
    <button (click)="changeDriversCount(2)">2</button>
    <button (click)="changeDriversCount(3)">3</button>
    <button (click)="changeDriversCount(4)">4</button>
    <button (click)="changeDriversCount(5)">5</button>
    <button (click)="changeDriversCount(0)">Без ограничений</button>
  </dir>

  <div *ngFor="let driver of driversComponents">
    <app-driver-component #driverComponent></app-driver-component>
  </div>

  <button (click)="submit()" type="button">отправить</button>
  <button (click)="resetForms()" type="button">reset form(s)</button>
  <button (click)="getDriversFromComponentsByID()" [disabled]="!driverIdFlag" type="button">Get drivers</button>
</div>
